.day{
  font-weight: var(--fontWeightBold);
  margin-bottom: var(--marginLarge);
}

.grid{
  display:flex;
  flex-direction:column;
  width: 175px;
}

.grid-item{
  height: 30px;
  font-size: var(--fontSizeSmall);
}

.grid-item:nth-child(even){
  border-bottom: var(--borderBottomLight);
}
.grid-item:nth-child(odd){
  border-bottom: var(--borderBottomSuperLight);
}

.grid-item:hover{
  border-bottom: var(--borderBottomHighlight);
  background-color: #E4EEF1;
}

.selected-grid-outline{
  position: absolute;
  background-color: lightgreen;
}
