.title{
  font-size: var(--fontSizeLarge);
}
.confirm-button{
  color: white;
  background-color: var(--brandColorPrimary);
}
.dismiss-button{
  color: var(--brandColorPrimary);
  background-color: white;
}
