:host{
  --paper-checkbox-checked-color: var(--brandColorPrimary);
}
#teacherContainer{
  position: absolute;
  min-height: 100px;
  top:var(--marginMedium);
  bottom:var(--marginMedium);
  left:var(--marginMedium);
  right:var(--marginMedium);
  overflow:auto;
  transition: all 1s ease;
}
#skillsContainer{
  height:0px;
  opacity: 0;
  position:absolute;
  top:var(--marginMedium);
  right:var(--marginMedium);
  left: 77%;
  transition: all 1s ease;
}
paper-material{
  border-radius: var(--borderRadiusSmall);
  background-color: white;
  padding: var(--paddingSmall);

}
#addSkillsDialog paper-checkbox{
  display: block;
}
